body { font-family: "±¼¸²", "Arial", "Verdana"; font-size: 12px; color:#676767; line-height:16px; }
td, th, caption { font-family: "±¼¸²", "Arial", "Verdana"; font-size: 12px; color:#676767; line-height:16px; }
img { border:0px; }


/*±âº» ¸µÅ© »ö*/
a, input, img {
    word-wrap:expression( this.style.wordWrap="normal",this.hideFocus=true);
}

/****************************************
  ==== DOCS GENERAL
****************************************/

table {
  border: 0px;
  border-collapse: collapse;
}
td, th {
  vertical-align: top;
  padding: 2px;
}