@charset "utf-8";

/* font */
@font-face{ 
	font-family:NanumGothic;
	src: url('font/NanumGothicBold.eot');
	src: url('font/NanumGothicBold.eot?iefix'),
		local('☺'),
		url('font/NanumGothicBold.woff') format('woff'),
		url('font/NanumGothicBold.ttf') format('truetype');
}


.clfix:after		{content: "."; display: block; height: 0px; clear: both; visibility: hidden;}
.clfix				{display: inline-block;}
.clfix				{display: block;}
* html .clfix	{height: 1%;} /* Hides from IE-mac */
.clfix				{zoom:1;} /*for IE 5.5-7*/

.overflow	{overflow:hidden;}

body {color: #4c4c4c;}

/* common */
.f_11 {font-size: 11px !important;}
.f_12 {font-size: 12px !important;}
.f_14 {font-size: 14px !important;}
.f_15 {font-size: 15px !important;}
.f_16 {font-size: 16px !important;}
.f_17 {font-size: 17px !important;}
.f_18 {font-size: 18px !important;}
.f_20 {font-size: 20px !important;}
.f_22 {font-size: 22px !important;}
.f_24 {font-size: 24px !important;}
.f_26 {font-size: 26px !important;}
.f_40 {font-size: 40px !important;}

.f_dgray {color: #4c4c4c !important;}
.f_gray {color: #808080 !important;}
.f_lgray {color: #ccc !important;}
.f_blue {color: #00a9e0;}
.f_black {color: #262626 !important;}


.f_engB {font-family: 'PFSquareSansProBold' !important;}
.f_eng	{font-family: 'PFSquareSansProMedium' !important;}
.f_ar	{font-family: Arial !important;}
.f_kr	{font-family:NanumGothic !important;}
.f_ex {font-size: 11px; color: #808080; letter-spacing: -1px; line-height: 130%;}

.f_bold {font-weight: bold;}

.m0 {margin: 0 !important;}

.mb3 {margin-bottom: 3px !important;}
.mb5 {margin-bottom: 5px !important;}
.mb8 {margin-bottom: 8px !important;}
.mb13 {margin-bottom: 13px;}
.mb15 {margin-bottom: 15px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb25 {margin-bottom: 25px !important;}
.mb29 {margin-bottom: 29px;}
.mb30 {margin-bottom: 30px !important;}
.mb35 {margin-bottom: 35px;}
.mb40 {margin-bottom: 40px !important;}
.mb50 {margin-bottom: 50px !important;}
.mb55 {margin-bottom: 55px !important;}

.ml5 {margin-left: 5px !important;}
.ml10 {margin-left: 10px;}
.ml12 {margin-left: 12px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.ml30 {margin-left: 30px;}
.ml40 {margin-left: 40px;}
.ml75 {margin-left: 75px;}
.ml80 {margin-left: 80px;}
.ml90 {margin-left: 90px;}
.ml100 {margin-left: 100px;}

.mt5 {margin-top: 5px !important;}
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt40 {margin-top: 40px !important;}
.mt45 {margin-top: 45px !important;}

.mr5 {margin-right: 5px}
.mr10 {margin-right: 10px}
.mr20 {margin-right: 20px}
.mr35 {margin-right: 35px}
.mr36 {margin-right: 36px}
.mr45 {margin-right: 45px}
.mr62 {margin-right: 62px}

.al_right {text-align: right;}
.al_left {text-align: left;}
.al_center {text-align: center;}


.pt5 {padding-top: 5px !important;}
.pt10 {padding-top: 10px !important;}
.pt20 {padding-top: 20px !important;}

.pb20 {padding-bottom: 20px !important;}

.pl15 {padding-left: 15px;}

.fl_left {float: left;}
.fl_right {float: right;}

.last {margin:0 !important;}

.clear {clear: both;}


input.basic {border: 1px solid #ccc; height: 19px; padding: 3px 0 0 5px; color: #666;}

.none {display: none;}

strong {color: #262626;}

input, img, select {vertical-align: middle;}

/* 20110328 acg */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, pre, code, form, fieldset, legend, input, textarea, button,  p, blockquote, th, td {margin:0; padding:0;}
html, body { width:100%; height:100%; background:#fff;}
body {font-size:0.75em; font-family: Dotum; }
li {list-style:none;}
img, fieldset {border:0 none;}
img {vertical-align:middle;}
legend, hr {display:none;}
legend {position:absolute; top:0; left:0; width:0; height:0; display:block; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
input, select, textarea {font-size:100%; color:#767676; font-family: Arial,sans-serif; }
button {border:0 none;background:transparent;}
em, address {font-style:normal;}
table {border-spacing:0;}
a, a:link, a:visited {text-decoration:none; color:#00a9e0;}
a:hover {text-decoration:underline;}
p, h2, h3 {word-wrap:break-word;}


/* popup */
#popupWrap {width: 580px; padding: 40px; color: #4c4c4c;}
#popupWrap .wrap {width: 580px;}
#popupWrap h1 {border-bottom: 1px solid #ccc; padding: 0 0 20px 0; font-family:NanumGothic; font-size: 20px; margin: 0 0 20px 0;}
#popupWrap h1.nb {padding: 0 0 20px 0; font-family:NanumGothic; font-size: 20px; margin: 0 0 20px 0; border: none;}
#popupWrap h2 {font-family:NanumGothic; font-size: 15px; color: #4c4c4c; margin: 0 0 20px 0;}
#popupWrap p {line-height: 140%;}
#popupWrap dd {line-height: 140%;}
#popupWrap p strong {line-height: 140%;}

#popupWrap .footer {margin: 40px 0 0 0; font-size: 11px; color: #b4b4b4; border-top: 1px solid #ccc; padding: 10px 0 0 0; position: relative; width: 100%;}
#popupWrap .footer .logo {float: left; margin: 0 10px 0 0;}
#popupWrap .footer p {padding: 5px 0 0 0; *display: inline;}
#popupWrap .footer .wClosw {position: absolute; right: 0; top: 15px; color: #999999;}

#popupWrap .chk_agree {border-top: 1px solid #ccc; text-align: center; padding: 10px 0 0 0; color: #808080; font-size: 11px;}
#popupWrap .chk_agree2 {border-top: 1px solid #ccc; text-align: center; padding: 30px 0 0 0; color: #808080; font-size: 11px;}

#popupWrap .chgAgr .col1, #popupWrap .chgAgr .col2 {width: 255px; float: left;}
#popupWrap .chgAgr .arrow {float: left; padding: 85px 12px 0 12px;}
#popupWrap .chgAgr h3 {background: url(../../image/anypath/ico_circle_gray.gif) left center no-repeat; padding: 0 0 0 10px; font-size: 12px; color: #262626; font-weight: normal; margin: 0 0 10px 0;}
#popupWrap .chgAgr .box {border: 1px solid #ccc; height: 130px; overflow-y: scroll; padding: 15px 10px}
#popupWrap .chgAgr .box dt {font-weight: bold; color: #808080; line-height: 150%;}
#popupWrap .chgAgr .box dd {color: #808080; line-height: 150%;}

#popupWrap .boxGray {background-color: #f5f5f5; padding: 20px 15px;}
#popupWrap .boxGray ul.dot li {background: url(../../image/anypath/ico_circle_gray.gif) left 3px no-repeat; padding: 0 0 0 10px;}
#popupWrap label {margin: 0 0 0 5px;}

#popupWrap ul.tabFind {padding: 15px 0 0 0;}
#popupWrap ul.tabFind li {background: url(../../image/anypath/dv.gif) right center no-repeat; padding: 0 8px 0 0; margin: 0 8px 0 0; float: left; font-weight: bold;}
#popupWrap ul.tabFind li.last {background: none;}
#popupWrap ul.tabFind .current a {cursor: default; color: #262626;}

/* Layer popup set */
.layPop {position:relative;padding:18px 20px 20px; background-color:#fff; border:1px solid #00a9e0; color:#666; z-index:110;}
.layPop h2 {margin:0; color:#000; font-size:12px; font-family:Arial; font-weight:bold;}
.layPop input[type="text"] {width:357px; min-height:21px; }
.layPop input[type="text"], .layPop textarea {margin:0 0 10px; padding:0 10px; border:1px solid #ccc; line-height:22px; }
.layPop input[type="radio"] {vertical-align:middle; margin-right:5px;}
.layPop textarea {width:357px; height:90px;}
.layPop .btnClose {position:absolute;top:-13px;right:-13px;}

#content .layPop {display: block !important;}
.layPop .asPopup {width: 345px;}
.layPop .alertWrap {text-align: center;}
.layPop .alertWrap h3 {font-size: 14px; color: #262626;}
.layPop .alertWrap p {color: #666; line-height: 150%; margin: 15px 0 0 0;}
.layPop .alertWrap .btn {margin: 20px 0 0 0;}



/* 약관 */
.agrmtBox h2 {color: #262626 !important; font-size: 12px !important; margin: 0 0 10px 0 !important; font-family: Dotum !important;}
.agrmtBox .box {border: 1px solid #ccc; padding: 20px; overflow-y: scroll; overflow-x: hidden; height: 100px;}
.agrmtBox dl {color: #4c4c4c;}
.agrmtBox dt {font-weight: bold; margin: 0 0 5px 0;}

/* anypath layout */
#apWrap {width: 625px; margin: 0 auto; /* height: 800px; */}
#apWrap #apGnb {border-top: 2px solid #999; border-bottom: 1px solid #ccc; position: relative; height: 38px; padding: 22px 0 0 150px; margin: 0 0 30px 0;}
#apWrap #apGnb .logo {position: absolute; top: 10px; left: 10px;}
#apWrap #apGnb ul li {display: inline; font-size: 15px; margin: 0 25px 0 0; font-family:NanumGothic !important;}
#apWrap #apGnb ul li.current a {color: #262626; cursor: default;}
#apWrap #apGnb p.admin {text-align: right; font-family:NanumGothic; color: #262626; font-size: 15px;}

dl.selCat dt {font-size: 11px; color: #808080;}
dl.selCat dt, dl.selCat dd {display: inline;}


/* faq */
ul.listFaq li {border-bottom: 1px solid #ccc; overflow: hidden; *zoom: 1; padding: 15px 0; position: relative;}
ul.listFaq li.top {border-top: 1px solid #ccc;}
ul.listFaq li a {color: #4c4c4c; font-size: 12px;}
ul.listFaq li .btn {background: url(../../image/anypath/btn_l_open.jpg) right center no-repeat; display: block; padding: 7px 35px 0 0; top: 10px; right: 0; position: absolute; height: 23px; color: #00a9e0; font-weight: normal;}
ul.listFaq li.open a {color: #262626; font-weight: bold;}
ul.listFaq li.open .btn {background: url(../../image/anypath/btn_l_close.jpg) right center no-repeat; display: block; padding: 7px 35px 0 0; top: 10px; right: 0; position: absolute; height: 23px; color: #00a9e0; font-weight: normal;}
ul.listFaq li a:hover {text-decoration: none;}
ul.listFaq .cntBox {background: #f6f6f6; padding: 20px; color: #4c4c4c;}
ul.listFaq .cntBox a {color: #00a9e0 !important; font-weight: normal !important;}
ul.listFaq .cntBox p {line-height: 140%;}
ul.listFaq .cntBox p.ico {background: url("../../image/anypath/ico_circle_gray.gif") no-repeat left 5px; padding: 0 0 0 12px;}
ul.listFaq .cntBox ul.dotCol li {background: url("../../image/anypath/ico_circle_gray.gif") no-repeat left 5px; padding: 0 0 0 12px; width: 170px; float: left; border: none; line-height: 150%;}
ul.listFaq a.blue {color: #00a9e0 !important; font-weight: normal;}

/* anypath popup */
#popupWrap ul.apInfo {width: 420px; margin: 0 auto;}
#popupWrap ul.apInfo li {float: left; margin: 0 10px 25px 0;}
#popupWrap ul.apInfo li img {margin: 0 0 10px 0;}
#popupWrap ul.apInfo li dt {color: #262626; margin: 0 0 5px 0;}
#popupWrap ul.apInfo li dd {color: #808080;}

fieldset.box_bdr {border: 5px solid #f5f5f5; padding: 20px 30px 0; margin-top:10px;} /* 111026 mod */
fieldset.box_bdr dt {font-weight: bold; float: left; padding: 5px 0 23px 0; width: 100px; margin: 0 !important;} /* 111026 mod */
fieldset.box_bdr dt label {margin: 0 !important;}
fieldset.box_bdr dl.txt dt {padding: 0;}
fieldset.box_bdr dl			{padding:0 0 20px 0;} /* 111026 add */
fieldset.box_bdr dl.tline	{padding:20px 0 0 0; border-top:1px solid #e6e6e6;} /* 111026 add */

.pcodeWrap {overflow-y: scroll; overflow-x: hidden; height: 195px;}

table.list01 {width: 100%; border-collapse: collapse;}
table.list01 th {padding: 13px 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; background: url(../../image/anypath/bg_thead_grd.gif) bottom repeat-x; color: #262626; font-weight: normal;}
table.list01 td {text-align: center; color: #4c4c4c; padding: 10px 0;}
table.list01 .left {text-align: left; padding-left: 20px;}
table.list01 a {color: #4c4c4c;}
table.list01 a:hover {color: #00a9e0;}
table.list01 .bg td {background: #f7f7f7;}
table.list01 .last td {border-bottom: 1px solid #ccc;}

ul.tab01 {padding: 0 0 0 20px;}
ul.tab01 li {background: url(../../image/anypath/dv_9.gif) right center no-repeat; padding: 0 10px 0 0; margin: 0 10px 0 0; float: left; font-weight: bold;}
ul.tab01 li.last {background: none;}
ul.tab01 li.current a {cursor: default; color: #262626;font-weight:bold;}

ul.dot li {background: url(../../image/anypath/ico_circle_gray.gif) left 5px no-repeat; padding: 0 0 10px 10px; border: none; line-height: 140%;}
ul.dot2 li {background: url(../../image/anypath/ico_circle_gray.gif) left 8px no-repeat; padding: 2px 0 2px 10px; border: none; line-height: 120%;}

/* content */
.step_info {width: 625px; height: 81px;}
.step_info li {text-indent: -100000px;}
.step_info.s01 {background: url(../../image/anypath/bg_step_join.gif) left top no-repeat;}
.step_info.s02 {background: url(../../image/anypath/bg_step_join.gif) left -111px no-repeat;}
.step_info.s03 {background: url(../../image/anypath/bg_step_join.gif) left -222px no-repeat;}

.h2Wrap {position: relative;}
.h2Wrap .btn {position: absolute; right: 0; top: 0;}

.boxGray {background-color: #f5f5f5; padding: 20px 15px;}
.boxGray ul.dot li {background: url(../../image/anypath/ico_circle_gray.gif) left 3px no-repeat; padding: 0 0 0 10px;}
.boxGray dl.dot dt {background: url(../../image/anypath/ico_circle_gray.gif) left center no-repeat; padding: 0 0 0 10px; font-weight: bold; color: #262626; margin: 0 0 5px 0;}
.boxGray dl.dot dd {padding: 0 0 0 10px; line-height: 140%;}

.listChk {overflow: hidden; width: 600px;}
.listChk li {float: left; width: 200px; color: #4c4c4c; font-size: 12px;}
.listChk label {margin: 0 0 0 5px;}

h2 {font-size: 12px; color: #262626;}
.ico_dot {background: url(../../image/anypath/ico_circle_gray.gif) left 5px no-repeat; padding: 0 0 0 10px;}

ul.ico_dot {background: none;}
ul.ico_dot li {background: url(../../image/anypath/ico_circle_gray.gif) left 5px no-repeat; padding: 0 0 0 10px; border: none; margin: 0 0 20px 0;}

.agreement {border-top: 1px solid #e6e6e6; padding: 30px 0 0 0;}
.agreement .box {border: 1px solid #ccc; height: 118px; color: #808080;}
.agreement .box dl {margin: 0 0 20px 0;}
.agreement .box dt {font-weight: bold; color: #808080; line-height: 140%; margin: 0 0 3px 0;}
.agreement .box dd {color: #808080; line-height: 140%;}
.agreement .chk {text-align: right; font-size: 11px;}
.agreement .chk label {margin: 0 0 0 5px;}
.agreement .box td.txt {line-height: 150%;}

/* 111103 vi-nyl add */
.agType {color: #808080;}
.agType dl {margin: 0 0 20px 0;}
.agType dt {font-weight: bold; color: #808080; line-height: 140%; margin: 0 0 3px 0;}
.agType dd {color: #808080; line-height: 140%;}
.agType .chk {text-align: right; font-size: 11px;}
.agType .chk label {margin: 0 0 0 5px;}
.agType td.txt {line-height: 150%;}
/* //111103 vi-nyl add */

table.thc		{border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;}
table.thc th	{padding:8px 0; background:#f7f7f7;color:#262626;font-weight:normal;padding-left:10px;text-align:left;}
table.thc td	{padding:8px 0;color:#262626;font-weight:normal;padding-left:30px;text-align:left;}

.setBtn {border-top: 1px solid #ccc; text-align: right; padding: 20px 0 0 0;}

#footer {background: url(../../image/anypath/bg_footer.gif) top repeat-x; margin: 50px 0 0 0; padding: 0 0 50px 0; position: relative; width: 625px;}
#footer .logo {padding: 30px 0 0 20px; font-family: Arial; font-size: 11px; color: #b4b4b4;}
#footer .logo img {float: left;}
#footer .logo p {padding: 6px 0 0 10px; float: left;}
#footer ul {position: absolute; right: 10px; top: 38px;}
#footer li {float: left; color: #b5b5b5; font-size: 11px; margin: 0 10px 0 0;}
#footer li a {color: #b5b5b5;}

#apContents table.form th {text-align: left; vertical-align: top; color: #4c4c4c;}
#apContents table.form th, #apContents table.form td {padding: 10px 0;}
#apContents p {line-height: 140%;}
#apContents .tableBdrWrap {border-top: 1px solid #ccc; padding: 20px 0 0 0;}
#apContents table.form .bdr {border-bottom: 1px solid #e6e6e6; padding: 12px 0 10px 0;}

.listChk2 {overflow: hidden; width: 460px;}
.listChk2 li {float: left; width: 110px; color: #4c4c4c; font-size: 12px; margin: 0 0 8px 0;}
.listChk2 label {margin: 0 0 0 5px;}

.listChk3 {overflow: hidden; width: 460px;}
.listChk3 li {float: left; width: 152px; color: #4c4c4c; font-size: 12px; margin: 0 0 8px 0;}
.listChk3 label {margin: 0 0 0 5px;}

ul.apInfo {overflow: hidden; width: 636px;}
ul.apInfo li {float: left; margin: 0 12px 25px 0;}
ul.apInfo li img {margin: 0 0 10px 0;}
ul.apInfo li dt {color: #262626; margin: 0 0 5px 0;}
ul.apInfo li dd {color: #808080;}

.selSite {padding: 0 0 30px 0; border-bottom: 1px solid #ccc;}
.selSite li {float: left; width: 198px;}
.selSite label {margin: 0 0 0 5px;}
.selSite dt {float: left; width: 70px;}
.selSite .pdl {padding: 0 0 0 70px; margin: 5px 0 0 0;}

.boxGbdr {border: 5px solid #ededed; padding: 30px; color: #4c4c4c;}
.boxGbdr fieldset dt {font-weight: bold; float: left; padding: 7px 18px 0 0;}
.boxGbdr fieldset dd {float: left;}
.boxGbdr fieldset .btn {margin: -3px 0 0 9px; float: left;}
.boxGbdr p {line-height: 140%;}

ul.dotL165 li {width: 165px; float: left; background: url(../../image/anypath/ico_circle_gray.gif) left center no-repeat; padding: 0 0 0 10px; margin: 0 0 5px 0;}

.pwWrap .col {width: 123px; float: left; border-right: 1px solid #e6e6e6; margin: 0 20px 0 0;}
.pwWrap .last {margin: 0; border: none;}
.pwWrap .image {text-align: center; margin: 0 0 20px 0;}
.pwWrap dt {font-weight: bold; color: #4c4c4c; margin: 0 0 5px 0;}
.pwWrap dd {line-height: 140%; padding: 0 10px 0 0;}
.pwWrap .link {margin: 10px 0 0 0;}
.pwWrap .link a {font-weight: bold; font-size: 11px;}

/* login */
.loginWrap .tab {position: relative; z-index: 10;}
.loginWrap .tab li {border: 1px solid #ccc; background: url(../../image/anypath/bg_tablog.gif) bottom repeat-x; font-size: 11px; padding: 10px 15px; float: left; }
.loginWrap .tab li.current {font-weight: bold; color: #262626; background: white; border-bottom: 1px solid white;}
.loginWrap .tab li.current a {color: #262626; cursor: default;}
.loginWrap .tab li a {color: #808080;}
.loginWrap .tab li.t2 {margin: 0 0 0 -1px;}
.loginWrap .box {border: 1px solid #ccc; margin: -1px 0 0 0; padding: 30px;}
.loginWrap .h145 .col1, .loginWrap .h145 .col2 {height: 145px;}
.loginWrap .h175 .col1, .loginWrap .h175 .col2 {height: 175px;}
.loginWrap .box .col1, .loginWrap .box .col2 {position: relative;}
.loginWrap .box .col1 {float: left; width: 265px; margin: 0 15px 0 0;}
.loginWrap .box fieldset dt {float: left; width: 100px; padding: 5px 0 0 0;}
.loginWrap .box .col2 {float: right; width: 260px; padding: 0 0 0 20px; border-left: 1px solid #e5e5e5; }
.loginWrap .box .btn {position: absolute; right: 0; bottom: 0;}
.loginWrap p {line-height: 140%;}



/* Legal Agent */
.legalAgent	{width:615px;margin:0 0 30px;padding:10px 0;border:5px solid #ededed;}
.legalAgent table	{width:564px;margin:0 auto;border-collapse: collapse;}
.legalAgent table label	 {font-size:11px;color:#808080;}
.legalAgent table label.on	{color:#4c4c4c;font-weight:bold;}
.legalAgent table th	 {padding-top:15px !important;}
.legalAgent table .line th {padding-top:25px !important;border-top:1px solid #ccc;}
.legalAgent table .line td	{padding-top:20px !important;border-top:1px solid #ccc;}
.legalAgent table .selChk input	{vertical-align:middle;}


/* Layer : tool tip */
.layTip { display:none; width:126px; padding:20px; border:1px solid #00a9e0; background-color:#fff; line-height:150%;}
.layTip.wBig {width:332px; padding:20px;}
.layTip dt {margin-bottom:10px; font-weight:bold; font-size:14px;}

.bdrTop {border-top: 1px solid #e6e6e6; padding: 10px 0 0 0;}
.bdrTop30 {border-top: 1px solid #e6e6e6; padding: 30px 0 0 0;} /* 111107 vi-nyl add */